In [ ]:
5+40

In [ ]:
5+10

In [1]:

5+10

15

In [2]:
print("Hola mundo")

Hola mundo

# Clase 1

In [3]:
mi_nombre = "Eduardo Pomposo"

In [4]:

print (mi_nombre)

Eduardo Pomposo

In [5]:
mi_edad = 21

In [6]:
mi_correo = "edpoor21@gmail.com"
mi_altura = 1.87

In [7]:
print (mi_correo)

edpoor21@gmail.com

In [8]:
valor_1 = 25

In [9]:
valor_2 = 35

In [10]:
valor_1 + valor_2

60

In [11]:
suma = valor_1 + valor_2

In [12]:
resta = valor_1 - valor_2

In [13]:
print (resta)

-10

In [14]:
multiplicacion = valor_1 * valor_2

In [15]:
division = valor_1 / valor_2

In [16]:
print(multiplicacion)

875

In [17]:
print (division)

0.7142857142857143

In [18]:
valor_1 = 70

In [19]:
print (division)

0.7142857142857143

## Format

In [20]:
print (f'La suma de {valor_1} y {valor_2} es {suma}')

La suma de 70 y 35 es 60

In [21]:
valor_2 = 10

In [22]:
suma = valor_1 + valor_2

In [23]:
print (f'La suma de {valor_1} y {valor_2} es {suma}')

La suma de 70 y 10 es 80

In [24]:
multiplicacion = valor_1 * valor_2

In [25]:
valor_1 = input ('Dame un numero')

In [26]:
print(valor_1)

5

In [27]:
valor_1 = input('Dame un valor')

In [28]:
print(valor_1)

20

In [29]:
valor_1 * 3

'202020'

In [30]:
valor_1 = int(input('Dame un valor'))

In [31]:
valor_1 *3

60

In [32]:
valor_1 = int(input('Dame un valor'))

In [33]:
valor_1 * 3

60

In [34]:
valor_1 = int(input('Dame un valor'))
valor_2 = int(input('Dame un valor'))

## Reto 1

In [43]:
titulo_libro = 'idk'

In [38]:
print (titulo_libro)

idk

In [39]:
numero_suerte = 22

In [40]:
print(numero_suerte)

22

In [41]:
edad_Yessica = 24
edad_Alan = 28
edad_Erick = 19
edad_Eduardo = 22

In [44]:
suma_edades = edad_Yessica + edad_Alan + edad_Erick + edad_Eduardo

In [45]:
suma_edades2 = 24 + 28 + 19 + 22

In [46]:
print(suma_edades2)

93

In [47]:
print(suma_edades)

93

## Ejercicio 2

In [49]:
valor1 = 250
valor2 = 584
valor3 = 600

In [50]:
suma = valor1 + valor3

In [51]:
print (suma)

850

In [53]:
resta = valor2 - valor3 
print (resta)

-16

In [54]:
multiplicacion = valor2 * valor1

In [55]:
print (multiplicacion)

146000

## Ejercicio 3

In [56]:
print (f'La suma de edades de yessica, Alan, erick, Eduardo es de : {suma_edades}')

La suma de edades de yessica, Alan, erick, Eduardo es de : 93

In [57]:
ancho_terreno = 25
largo_terreno = 30
area_terreno = ancho_terreno * largo_terreno
print (f'El area del terreno con un ancho de {ancho_terreno}mts y de largo {largo_terreno}mts es de: {area_terreno}mts cuadrados')

El area del terreno con un ancho de 25mts y de largo 30mts es de: 750mts cuadrados

## Ejercicio 4

In [60]:
nombre = input('Dame tu nombre')
edad = int(input('Dame tu edad'))
print (f'Su nombre es: {nombre} y su edad es de: {edad} años')

Su nombre es: Alan  y su edad es de: 25 años

## Ejercicio 5

In [63]:
total = int (input('Dame un numero'))
porcentaje = int(input('Que porcentaje quieres sacar?'))
resultado = total * porcentaje /100
print(f'El {porcentaje}% de {total}  es de {resultado}')

El 10% de 200  es de 20.0

## Actividad 2

In [66]:
35 >= 42

True

In [67]:
20 <= 15

False

In [68]:
55>=54

True

In [69]:
22<=22

True

In [70]:
5==5

True

## Condicionales Avanzados

In [71]:
if 1.60 > 1.20:
    print ("Puedes subir")

Puedes subir

In [80]:
valor1 = float(input('Dame tu edad'))
if valor1 >= 1.60:
    print("PUEDES SUBIR!!!!!!")
else:
    print ("NO PUEDES SUBIR")

PUEDES SUBIR!!!!!!